{% extends '@layout/layout.twig' %}

{% block title %}
    TODO LIST
{% endblock title %}

{% block content %}
    <div id="kanban" class="row d-flex flex-nowrap">



    </div>

    {% include '@layout/modal-new-card.twig' %}

{% endblock content %}