
{% extends '@layout/layout.twig' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div >
        <form method="POST" action="/login"
              class="a"
        >
            <h2>Login</h2>

            <div class="text-left">
                <label for="email">E-mail</label>
                <input
                        autocomplete="off"
                        class="input-login-singup"
                        type="email"
                        placeholder="E-mail"
                        id="email"
                        name="email"
                        value=""
                        autofocus
                >
            </div>

            <div class="text-left">
                <label for="password">Senha</label>
                <input autocomplete="off"
                       class="input-login-singup"
                       type="password"
                       placeholder="Senha"
                       id="password"
                       name="password"
                       value=""
                >
            </div>
            <div>
                <a href="#" id="logar" class="btn btn-block">Logar</a>
                <a href="/signup" class="btn btn-block">Cadastro de usuário</a>
            </div>
        </form>
    </div>
{% endblock content %}

