{% extends '@layout/authentication.twig' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

    <div class="form-container">
        <form id="login-form" method="POST" action="/login" class=" form-control">

            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Digite seu e-mail"
                        aria-describedby="emailHelp"
                >
                <div id="emailHelp" class="form-text">
                    Nunca vamos compartilhar seu e-mail com ninguém.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Digite sua senha">
            </div>

            <div class="d-grid gap-2">
                <a href="#" id="logar" class="btn btn-primary" type="button">Logar</a>
                <hr>
                <a href="/signup" class="btn btn-outline-primary" type="button">Cadastro de usuário</a>
            </div>
        </form>
    </div>
{% endblock content %}

