{% extends '@layout/authentication.twig' %}

{% block title %}
    TODO LIST | Cadastro
{% endblock title %}

{% block content %}

    <div class="form-container">
        <form id="user-form" method="POST" action="/signup"
              class=" form-control"
        >
            <div class="mb-3">
                <label for="email" class="form-label">Nome</label>
                <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Digite seu nome"
                        aria-describedby="emailHelp"
                        required
                >
                <div id="emailHelp" class="form-text">
                    Nunca vamos compartilhar seu e-mail com ninguém.
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Digite seu e-mail"
                        aria-describedby="emailHelp"
                        required
                >
                <div id="emailHelp" class="form-text">
                    Nunca vamos compartilhar seu e-mail com ninguém.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Digite sua senha"
                        required
                >
            </div>

            <div class="d-grid gap-2">
                <a href="#" id="signup" class="btn btn-primary" type="button">Cadastrar</a>
                <hr>
                <a href="/login" class="btn btn-outline-primary" type="button">Login</a>
            </div>
        </form>
    </div>

{% endblock content %}
